* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	margin-bottom: 25px;
	text-align: center;
	font-size: 1.75em;
}

.row {
	width: 100%;
}

.item {
	border: 1px solid black;
	width: 90%;
	/*height: 250px;*/
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	background-color: grey;
}

.item .title {
	float: right;
	padding: 5px;
	display: inline-block;
	border: 1px solid black;
	border-right: 0px;
	border-top: 0px;
	width: 30%;
	text-align: center;
	font-weight: bold;
	font-size: 1.25em;
}

.item .description {
	display: inline-block;
	padding: 15px;
}

.color-pink {
	background-color: pink;
}

.color-red {
	background-color: red;
	color: white;
}

.color-yellow {
	background-color: #F8DE7E;
}

@media (min-width: 992px){
	.col-lg {
		width: 33.33%;
		float: left;
	}
}

@media (min-width: 768px ) and ( max-width: 991px ) {
	.col-sm {
		width: 50%;
		float: left;
	}
	.row .col-sm:last-child {
		width: 100%;
		float: left;
	}

	.row .col-sm:last-child .item {
		width: 95%;
	}
}

@media (max-width: 767px){
	.col-xs {
		width: 100%;
		float: left;
	}	
}